@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.containergeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerHeader {
  display: flex;
  justify-content: space-between;
}
.logoHeader {
  height: 19px;
  padding-left: 25px;
}
.buttonHeader {
  height: 2rem;
  width: 6rem;
  margin-right: 25px;
  background-color: white;
  border-color: hsl(322, 100%, 66%);
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
}
.containerH1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: hsl(192, 100%, 9%);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20% 5% 10% 5%;
}
.texH1 {
  font-size: 15px;
  color: hsl(192, 100%, 9%);
  padding: 0 8%;
  text-align: center;
}
.buttonH1 {
  height: 2.8rem;
  width: 14rem;
  background-color: hsl(322, 100%, 66%);
  border-radius: 2rem;
  border-style: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 1px 5px 11px -5px #575559;
  margin: 60px 0 120px 0;
  cursor: pointer;
}
.buttonH1:hover {
  opacity: 0.7;
}
.screen-mockups {
  height: 250px;
  width: 330px;
}
.iconCommunities,
.iconMessages {
  height: 25px;
  width: 25px;
}
.containerNumbers {
  margin-top: 100px;
}
.numbers {
  color: hsl(192, 100%, 9%);
  font-size: 60px;
  font-weight: 700;
}
.textNumbers {
  font-weight: 400;
  color: rgb(128, 128, 128);
  font-size: 15px;
  text-align: center;
}
.containerArticle {
  background-color: hsl(207, 100%, 98%);
}
.containerIllus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
}
.containerIllusX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.growTogeder,
.flowingConver,
.yourUsers {
  margin-top: 80px;
  height: 250px;
  width: 300px;
}
h2 {
  text-align: center;
  font-weight: 900;
  margin: 60px 0 20px 0;
  font-family: "Poppins", sans-serif;
}
.textH2 {
  font-size: 15px;
  color: hsl(192, 100%, 9%);
  padding: 0 7.5% 50px;
  text-align: center;
}
.textH2white {
  font-size: 15px;
  color: hsl(192, 100%, 9%);
  padding: 0 7.5% 50px;
  text-align: center;
}
.readyBuild {
  margin: 0;
  padding-top: 90px;
  font-size: 30px;
}
.containerReadyBuild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(192, 100%, 9%);
}
.buttonH2readyBuild {
  height: 2.8rem;
  width: 14rem;
  background-color: hsl(322, 100%, 66%);
  border-radius: 2rem;
  border-style: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 1px 5px 11px -5px #575559;
  margin: 60px 0 200px 0;
  cursor: pointer;
}
.buttonH2readyBuild:hover {
  opacity: 0.7;
}
.bgFooerTopMobile {
  height: 50px;
  background-image: url("../img/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  padding: 35px;
  background-color: hsl(192, 100%, 9%);
  color: white;
  font-size: 15px;
}
h3 {
  font-size: 23px;
  padding: 40px 0 20px 0;
}
.textH3footer {
  padding-bottom: 30px;
  line-height: 25px;
}
input {
  width: 330px;
  height: 50px;
  border-radius: 0.3rem;
  border-style: none;
}
.containerSubscribe {
  display: flex;
  justify-content: flex-end;
}
.buttonSubscribe {
  height: 3.1rem;
  width: 10rem;
  background-color: hsl(322, 100%, 66%);
  border-radius: 0.3rem;
  border-style: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 20px;
}
.logoFooter {
  height: 40px; 
}
.containerIconFooter {
  display: flex;
  margin-bottom: 30px;
  font-size: 15px;
}
.textLogoFooter {
  margin: 10px 0 40px 0;
  line-height: 25px;
}
.iconPhone,
.iconEmail {
  padding-right: 20px;
}
.fab {
  font-size: 25px;
  padding: 20px 10px 30px 0;
}
.BgTopMobile {
  width: 100%;
  height: 110px;
  background-image: url("../img/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.BgBottomMobile {
  width: 100%;
  height: 110px;
  background-image: url("../img/bg-section-bottom-mobile-1.1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.BgTopMobileTwo {
  margin-top: 80px;
  width: 100%;
  height: 107px;
  background-image: url("../img/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.BgBottomMobileTwo {
  width: 100%;
  height: 110px;
  background-image: url("../img/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  header {
    margin: 0 5%;
  }
  .logoHeader {
    height: 25px;
    padding-left: 0;
  }
  h1 {
    padding: 10% 5% 2% 5%;
    color: hsl(192, 100%, 9%);
    font-size: 35px;
  }
  .texH1 {
    padding: 0 27%;
  }
  .buttonH1 {
    height: 3.5rem;
    width: 18rem;
    margin: 40px 0 90px 0;
  }
  .screen-mockups {
    height: 500px;
    width: 770px;
  }
  .containerGeneralNumbers {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  .iconCommunities,
  .iconMessages {
    height: 30px;
    width: 30px;
  }
  .numbers {
    font-size: 70px;
  }
  .containerArticle {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10%;
  }
  .articlewhite {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
  }
  .GrowTogether,
  .ContainerFLowingConver,
  .containerYourUsers,
  .containerIllus {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .containerIllusX {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2,
  .textH2 {
    padding: 0 30% 0 0;
    text-align: left;
  }
  .textH2white {
    text-align: left;
    padding: 0;
  }
  .growTogeder,
  .yourUsers,
  .flowingConver {
    margin: 0;
    height: 350px;
    width: 400px;
  }
  .ContainerFLowingConver {
    margin-left: 20%;
  }
  .BgTopMobile {
    height: 180px;
    background-image: url("../img/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .BgBottomMobile {
    margin-bottom: 50px;
    height: 180px;
    background-image: url("../img/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .BgTopMobileTwo {
    height: 180px;
    background-image: url("../img/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .readyBuild {
    padding: 0;
  }
  .BgBottomMobileTwo {
    height: 180px;
    background-image: url("../img/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
  }
  .bgFooerTopMobile {
    height: 200px;
    background-image: url("../img/bg-footer-top-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .containerfooter{
    display: flex;
    flex-direction: row-reverse;
  }
  .containerInput{
    display: flex;
  }
  .buttonSubscribe{
    margin: 0;
  }
  h3{
    padding: 0;
  }
  .containerH3{
    width: 500px;
    height: 300px;
  }
  .textH3footer{
    padding-bottom: 30px;
    line-height: 25px;
    padding-right: 140px;
  }
  input{
    margin-right: 30px;
  }
  footer{
    padding: 80px 150px;
  }
  .textLogoFooter{
    padding-right: 200px;
  }
}
